<head>
  <meta name="keywords" content="get, advice, anything, question, answer, confidential, personal, guidance, guide, help, love, relationship, family, child, career, improvement, ten, hundred"/>
  <meta name="description" content="Not sure where to turn to get advice? Ten Hundred is a convenient platform for you to get confidential, personal, and empathetic guidance — love and relationships, family and child-rearing, career and self-improvement, and much more…"/>
  <meta name="subject" content="Get Advice on Anything"/>
  <meta name="copyright" content="Ten Hundred, HEXA Inc."/>
  <meta name="language" content="en"/>
  <meta name="author" content="HEXA Inc."/>
  <meta name="designer" content="HEXA Inc."/>
  <meta name="owner" content="HEXA Inc."/>
  <meta name="url" content="https://tenhundred.com"/>
  <meta name="google-site-verification" content="xPujX7h0Pv5rq-X-1DWh9uHUYkfxwyI3PLG5h0ojS-w"/>
  <link rel="shortcut icon" href="/img/icons/logo.png">
  <title>Ten Hundred</title>
  <!-- Start of tenhundred Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=388fd1ec-ab42-4532-9203-5d54c3f8eaa2"></script>
  <!-- End of tenhundred Zendesk Widget script -->
</head>

<body>
  <div id="root"></div>
</body>
