@import 'typographic'



body
  position absolute
  display block
  width 100vw
  height 100vh
  margin 0
  padding 0
  overflow hidden

  > #root, & > #root > #App
    position relative
    display block
    width 100%
    height 100%

  > #root > #App
    overflow-x hidden
    overflow-y auto

    @import './imports/shape/main.styl'

    @import './imports/kit.styl'
