#MobileWarmCard
  width 94%
  height 75%
  top 50%
  left 50%
  transform translate3d(100%, -50%, 0)

  > #layout
    font-size 120%

    > img
      position absolute
      width 25%
      transform translate3d(0, -50%, 0)
      top -7%
      left 50%

    > #type_email
      position absolute
      width 100%
      height 100%

      &.hidden > #layout

        > #top
          transform translateY(40px)
          opacity 0
          transition .4s

        > #content

          > #title
            transform translateY(32px)
            opacity 0
            transition .4s

          > #text
            transform scale(.7)
            opacity 0
            transition .4s

          > #input
            transform scale(.7)
            opacity 0
            transition .4s

      > #layout

        > #top
          width 100%
          transform translateX(0)
          opacity 1
          text-align center
          transition .6s
          transition-delay .4s

          > img
            height 600px
            transform translateY(-80px)

        > #content
          width 100%
          transform translateY(-60px)
          padding 0 10%
          box-sizing border-box

          > #title
            transform translateX(0)
            text-align center
            font-size 120%
            opacity 1
            transition .4s

            > h3
              letter-spacing 1px
              color #F1C475

          > #text
            margin 3em 0
            text-align center
            transform scale(1)
            opacity 1
            transition .4s

            > p
              line-height 140%
              font-size 90%
              letter-spacing .5px

          > #input
            transform scale(1)
            opacity 1
            text-align left
            transition .2s
            transition-delay 1.2s

        > #next
          bottom 0
          left 50%



    > #check_verification_code
      position absolute
      width 100%
      height 100%

      &.hidden > #layout

        > #top
          transform translateY(40px)
          opacity 0
          transition .4s

        > #content

          > #title
            transform translateY(-32px)
            opacity 0
            transition .4s

          > #text
            transform scale(.7)
            opacity 0
            transition .4s

          > #input
            transform translateY(32px)
            opacity 0
            transition .4s

      > #layout

        > #top
          width 100%
          transform translateY(0)
          opacity 1
          text-align center
          transition .6s
          transition-delay .4s

          > img
            height 600px
            transform translateY(-80px)

        > #content
          width 100%
          transform translateY(-60px)
          padding 0 10%
          box-sizing border-box

          > #title
            transform translateX(0)
            text-align center
            font-size 120%
            opacity 1
            transition .4s

            > h3
              font-size 80%
              letter-spacing 1px
              opacity .6

            > p
              margin-top 16px
              font-size 75%
              text-decoration underline
              cursor pointer

          > #text
            margin 2em 0
            text-align center
            transform scale(1)
            opacity 1
            transition .4s

            > h3
              font-size 100%

          > #input
            width 100%
            margin 0 auto
            padding 0 22.5%
            box-sizing border-box
            transform translateY(0)
            opacity 1
            transition .2s
            transition-delay .8s

            > input
              display inline-block
              vertical-align middle
              width calc(100% / 3 - 20px)
              margin 0 10px
              padding 10px 10px
              border-radius 36px
              text-align center
              font-size 260%

            > #resendVerificationCode
              transform scale(1)
              margin 1.5em 0
              opacity 1
              text-align center
              font-size 80%
              text-decoration underline
              cursor pointer
              transition .3s

              &.inactive
                text-decoration none
                opacity .6
                cursor default

        > #next
          bottom 0
          left 50%
