#MobileAdviceCard
  width 94%
  height 75%
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)

  &.hidden
    transform translate3d(-150%, -50%, 0) scale(1.4)
    opacity 0

  > #layout
    overflow hidden
    font-size 120%

    > #bg
      position absolute
      width 100%
      height 100%
      right 0
      border-radius 18px
      background url('./img/pictures/advice_bg.png') left/cover no-repeat

    > #intro
      position absolute
      width 100%
      height auto
      transform translateY(-50%) scale(1)
      top 50%
      text-align center
      transition .3s

      &.hidden
        transform translateY(-50%) scale(1.4)
        opacity 0

      > #title
        padding 4% 5% 2%
        box-sizing border-box
        text-align center

        > h3
          font-size 130%
          letter-spacing 1px
          cursor auto
          user-select auto

        > #line
          width 5%
          height 1px
          margin 32px 47.5%
          background white

    > #content
      position absolute
      width 100%
      height 100%
      transform scale(1)
      overflow auto
      transition .4s

      &.hidden
        transform scale(.7)
        opacity 0

      > #title
        padding 7.5% 5% 5%
        box-sizing border-box
        text-align center

        > h3
          font-size 110%
          letter-spacing 1px
          cursor auto
          user-select auto

        > #line
          width 5%
          height 1px
          margin 8px 47.5%
          background white

        > p
          font-size 90%
          letter-spacing 1px
          font-weight bold
          cursor auto
          user-select auto

      > #text
        padding 1.2em 6% 3em
        box-sizing border-box
        font-size 80%

        > p
          font-size 75%
          letter-spacing 0
          cursor auto
          user-select auto
          white-space pre-line
