#MobileBlueCard
  width 94%
  height 75%
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)

  > #layout

    > #get_advice
      position relative
      width 100%
      height 100%

      > #layout

        > #arounds
          position absolute
          width 100%
          height 100%
          right 0
          border-radius 18px
          background url('./img/pictures/mobile_arounds_bg.png') bottom center/cover no-repeat

        > #top, & > #content
          position relative
          display block
          vertical-align auto
          height auto

        > #top
          position relative
          width 100%
          top -3em
          text-align center

          > img
            position relative
            height 600px

        > #content
          position relative
          width 100%
          height auto
          top -1.5em
          padding 0 10%
          box-sizing border-box

          &.hidden

            > #title
              transform translateX(-32px)
              opacity 0
              transition .4s

            > #text
              transform scale(.7)
              opacity 0
              transition .4s

            > #button
              transform scale(.7)
              opacity 0
              transition .4s

          > #title
            text-align center
            font-size 110%

            > h3, & > h2
              position relative
              display inline-block
              vertical-align middle
              letter-spacing 1px
              font-weight bold

            > h3
              margin-right 8px
              color #fdc368

            > h2
              color #ff8361

            > p
              margin 1em 0
              font-weight bold
              font-size 80%
              opacity .6

          > #text
            margin 1em 0 2em
            text-align center
            font-size 100%

            > p
              line-height 130%

          > #button
            text-align center

          > #terms
            margin 1.6em 0
            text-align center
            text-decoration underline

    > #testimonials_button
      position absolute
      z-index -1
      bottom 0
      left 50%
      transform translate3d(-50%, 50%, 0)
      transition 1s

      > .big_button
        top 50%
        left 50%
        transform translate3d(-50%, -50%, 0)
        background #424d6c

        > p
          transform translate3d(-50%, -14px, 0)
          font-size 60%
          letter-spacing 0
          transition .15s

      > #layer_small, & > #layer_big
        position absolute
        width 160px
        height 160px
        left 50%
        right 50%
        border-radius 50%
        background rgba(0, 0, 0, .05)
        transition .15s

      > #layer_small
        transform translate3d(-50%, -50%, 0) scale(1.5)
        transition .15s
        animation small_pulse 2s linear 1s infinite alternate

      > #layer_big
        transform translate3d(-50%, -50%, 0) scale(2)
        transition .15s
        animation big_pulse 4s linear 2s infinite alternate

      @keyframes small_pulse {
        0% {
          transform translate3d(-50%, -50%, 0) scale(1.5)
        }
        50% {
          transform translate3d(-50%, -50%, 0) scale(1.7)
        }
        100% {
          transform translate3d(-50%, -50%, 0) scale(1.5)
        }
      }

      @keyframes big_pulse {
        0% {
          transform translate3d(-50%, -50%, 0) scale(2)
        }
        50% {
          transform translate3d(-50%, -50%, 0) scale(2.4)
        }
        100% {
          transform translate3d(-50%, -50%, 0) scale(2)
        }
      }

      &.hidden
        transform translateY(260px) scale(.8)
        opacity 0
        transition 1s
