#BlueCard
  width 110%
  height 105%
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)

  > #layout

    > #get_advice
      position relative
      width 100%
      height 100%

      > #layout

        > #arounds
          position absolute
          width 100%
          height 100%
          right 0
          border-radius 18px
          background url('./img/pictures/arounds_bg.png') right center/contain no-repeat

        > #left, & > #right
          position relative
          display inline-block
          vertical-align middle
          height auto

        > #left
          width 45%

          > img
            position relative
            height 400px
            left -20%

        > #right
          width 55%
          height 100%
          padding 9% 4% 0 3%
          box-sizing border-box

          &.hidden

            > #title
              transform translateX(-32px)
              opacity 0
              transition .4s

            > #text
              transform scale(.7)
              opacity 0
              transition .4s

            > #button
              transform scale(.7)
              opacity 0
              transition .4s

          > #title
            text-align right
            font-size 100%

            > h3, & > h2
              position relative
              display inline-block
              vertical-align middle
              letter-spacing 1px
              font-weight bold

            > h3
              margin-right 8px
              color #fdc368

            > h2
              color #ff8361

            > p
              margin-top 1em
              font-weight bold
              font-size 75%
              opacity .6

          > #text
            margin 2.25em 0
            text-align right

            > p
              line-height 130%
              font-size 90%

          > #button
            text-align right
