#Answer
  position absolute
  width 80%
  transform scale(1)
  top 0
  left 10%
  opacity 1
  transition .4s

  &.hidden
    transform scale(.7)
    opacity 0
    transition .1s

  > #layout

    > #answer
      padding 60px 15%
      box-sizing border-box

      > #layout
        width 100%
        height auto
        min-height auto
        padding 5% 7.5%
        box-sizing border-box

        > #email, & > .input, & > #question

          > p#label
            width 100%
            margin-bottom .5em
            opacity .5
            font-weight bold
            text-transform uppercase
            user-select none
            cursor default

        > .input
          margin 2em 0 2em

        > #question
          position relative
          width 100%
          margin 2em 0 4em

          > p
            font-weight normal
            transition .4s
            white-space pre-line

    > #back
      top 60px
      left 20px

    > #add
      top 60px
      right 20px
