#MobileTerms
  position absolute
  width 94%
  height 85%
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)

  &.hidden
    transform translate3d(-150%, -50%, 0) scale(.8)
    opacity 0
    transition 1s

  > #layout

    > #terms_of_service
      position relative
      display inline-block
      width 100%
      height 100%
      padding 4%
      box-sizing border-box
      overflow auto
      font-size 120%

      &::-webkit-scrollbar
       display none

      > p, & li
        font-family $candara
        line-height 140%
        user-select auto
        cursor auto
        letter-spacing .5px
        text-shadow 0 0 3px rgba(0,0,0,.6)

      > *:last-child
        margin-bottom 4em



    > #back
      bottom 2%
      right -90px
