> #layout
  min-width 1180px
  min-height 600px
  background url('./img/pictures/background.jpg') center/cover no-repeat
  perspective 300px
  overflow hidden

  &.mobile
    min-width auto
    min-height auto
    background url('./img/pictures/mobile_background.jpg') center/100% 100% no-repeat
    perspective none
    overflow-y auto
    overflow-x hidden



  @import './components/cards/kit.styl'
  @import './components/mobile_cards/kit.styl'
  @import './components/admin/kit.styl'



  > #testimonials_button
    position absolute
    z-index -1
    bottom 0
    left 50%
    transform translate3d(-50%, 50%, 0)
    transition 1s

    > .big_button
      top 50%
      left 50%
      transform translate3d(-50%, -50%, 0)
      background #424d6c

      > #icon
        width 52px
        height 52px
        transform translate3d(-50%, -40%, 0) scale(.5)
        left 50%
        background url('./img/icons/testimonial.png') center/contain no-repeat
        opacity 0
        transition .15s

      > p
        transform translate3d(-50%, -44px, 0)
        font-size 60%
        letter-spacing 0
        transition .15s

    > #layer_small, & > #layer_big
      position absolute
      width 100px
      height 100px
      left 50%
      right 50%
      border-radius 50%
      background rgba(0, 0, 0, .05)
      transition .15s

    > #layer_small
      transform translate3d(-50%, -50%, 0) scale(1.4)
      transition .15s
      animation small_pulse 2s linear 1s infinite alternate

    > #layer_big
      transform translate3d(-50%, -50%, 0) scale(2)
      transition .15s
      animation big_pulse 4s linear 2s infinite alternate

    &:hover, &:active

      > .big_button
        transform translate3d(-50%, -80%, 0) scale(1)
        transition .15s

        > #icon
          width 44px
          height 44px
          transform translate3d(-50%, -55%, 0) scale(1)
          left 50%
          background url('./img/icons/testimonial.png') center/contain no-repeat
          opacity 1
          transition .15s

        > p
          transform translate3d(-50%, -12px, 0)
          transition .15s

        &:hover
          transform translate3d(-50%, -80%, 0) scale(1.05)
          transition .15s

        &:active
          transform translate3d(-50%, -80%, 0) scale(1)
          transition .1s

      > #layer_small
        transform translate3d(-50%, -50%, 0) scale(2)
        transition .15s

      > #layer_big
        transform translate3d(-50%, -50%, 0) scale(3.2)
        transition .15s

    @keyframes small_pulse {
      0% {
        transform translate3d(-50%, -50%, 0) scale(1.4)
      }
      50% {
        transform translate3d(-50%, -50%, 0) scale(1.6)
      }
      100% {
        transform translate3d(-50%, -50%, 0) scale(1.4)
      }
    }

    @keyframes big_pulse {
      0% {
        transform translate3d(-50%, -50%, 0) scale(2)
      }
      50% {
        transform translate3d(-50%, -50%, 0) scale(2.4)
      }
      100% {
        transform translate3d(-50%, -50%, 0) scale(2)
      }
    }

    &.hidden
      transform translateY(260px) scale(.8)
      opacity 0
      transition 1s
