#Terms
  position absolute
  width 100%
  height 110vh
  min-height 700px
  transform translateY(0) scale(1)
  top -20vh
  left -30%
  opacity 1
  transition .4s
  transition-delay .6s

  &.hidden
    transform translateY(110vh) scale(.7)
    opacity 0
    transition 1s

  > #layout

    > #terms_of_service
      position relative
      display inline-block
      width 100%
      height 100%
      padding 60px 0 80px 19%
      box-sizing border-box
      overflow auto
      font-style italic

      > p, & li
        font-family $candara
        line-height 160%
        font-size 110%
        user-select auto
        cursor auto
        letter-spacing .5px
        text-shadow 0 0 6px rgba(0,0,0,.6)



    > #back
      top 90px
      left 20px
