#MobileTestimonials_list
  position absolute
  width 94%
  height 85%
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)

  &.hidden
    transform translate3d(-150%, -50%, 0) scale(.8)
    opacity 0
    transition 1s

  > #layout

    > #testimonials_list
      position relative
      display inline-block
      width 100%
      height 100%
      padding 4%
      box-sizing border-box
      overflow auto

      &::-webkit-scrollbar
       display none

      > #list
        position relative
        width 100%
        height auto
        padding 0 5%
        box-sizing border-box

        > .item
          position relative
          width 100%
          height auto
          min-height unset
          margin 1em 0

          &:first-of-type
            margin-top 0

          &:last-of-type
            margin-bottom 0

          &:nth-child(3n + 1)

            > #layout
              background #424d6c

          &:nth-child(3n + 2)

            > #layout
              background #424d6c

          &:nth-child(3n + 3)

            > #layout
              background #424d6c

          > #layout
            width 100%
            height auto
            min-height auto
            padding 5% 7.5%
            box-sizing border-box

            > #testimonial

              > p#label
                width 100%
                margin-bottom 1em
                opacity .5
                font-weight bold
                text-transform uppercase
                user-select none
                cursor default

            > #testimonial
              position relative
              width 100%
              margin 1em 0 1.5em

              > p:not(#label)
                font-size 80%
                font-weight normal
                transition .4s
                white-space pre-line



    > #back
      bottom 2%
      right -90px
