#Login
  position absolute
  width 100%
  height 100%

  &.hidden

    > .cards_layout

      .warm_card
        transform translate3d(30%, -200%, 0) rotate(16deg)
        transition .6s

  > .cards_layout
    transition none

    > .warm_card
      width 80%
      margin 0 10%
      transform translate3d(0, 0, 0) rotate(0)
      transition .4s

      > #layout
        padding 5% 20%
        box-sizing border-box

        > #title
          position relative
          width 100%
          text-align center
          text-transform uppercase
          letter-spacing 1px

        > #input
          position absolute
          width 60%
          transform translateY(-50%)
          top 50%
          text-align center

          > input
            margin 1em 0
            font-size 90%

          > input[type="password"]
            letter-spacing 0

        > #message
          position absolute
          width 100%
          transform translateY(0)
          opacity 1
          bottom 10%
          left 0
          font-size 85%
          text-align center
          letter-spacing .5px
          color #3d3d3d
          transition .3s

          &.hidden
            transform translateY(10px)
            opacity 0
            transition .2s

        > #next
          bottom -40px
          right -40px
