#Testimonials_list
  position absolute
  width 100%
  height 110vh
  min-height 700px
  transform translateY(0) scale(1)
  top -60%
  left -30%
  opacity 1
  transition .4s
  transition-delay .6s

  @media screen and (max-width: 1400px)
    top -50%
    height 130vh

  &.hidden
    transform translateY(110vh) scale(.7)
    opacity 0
    transition 1s

  > #layout

    > #testimonials_list
      position relative
      display inline-block
      width 100%
      height 100%
      padding 60px 0 80px 15%
      box-sizing border-box
      overflow auto

      @media screen and (max-width: 1400px)
        padding 60px 0 80px 15%

      &::-webkit-scrollbar
       display none

      > #list
        position relative
        width 100%
        height auto
        padding 30px 5% 5%
        box-sizing border-box

        > .item
          position relative
          width 100%
          height auto
          min-height unset
          margin 1em 0

          &:first-of-type
            margin-top 0

          &:last-of-type
            margin-bottom 2em

          &:nth-child(3n + 1)

            > #layout
              background #424d6c

          &:nth-child(3n + 2)

            > #layout
              background #424d6c

          &:nth-child(3n + 3)

            > #layout
              background #424d6c

          > #layout
            width 100%
            height auto
            min-height auto
            padding 5% 7.5%
            box-sizing border-box

            > #testimonial

              > p#label
                width 100%
                margin-bottom 2em
                opacity .5
                font-weight bold
                text-transform uppercase
                user-select none
                cursor default

            > #testimonial
              position relative
              width 100%
              margin 1em 0 1.5em

              > p:not(#label)
                font-size 100%
                font-weight normal
                transition .4s
                white-space pre-line



    > #back
      top 90px
      left 20px
