#ColdCard
  width 90%
  transform translate3d(150px, 80px, 0) rotate(-5deg)
  transition .2s

  > #layout

    #derigo
      position absolute
      transform translate3d(-50%, -50%, 0) scale(1)
      width 116px
      height 116px
      top 12px
      right -36px
      background url('./img/pictures/derigo.png') center/contain no-repeat
      cursor help
      transition .1s

      &:hover
        transform translate3d(-50%, -50%, 0) scale(1.1)
        transition .1s

    #help
      position absolute
      transform translateX(0) scale(1)
      opacity 1
      width 80%
      top -10%
      left -10%
      padding 2em 1.5em
      border-radius 16px
      text-align left
      background #ED7256
      box-shadow 0 0 1em rgba(0, 0, 0, .3)
      transition .1s

      &.hidden
        transform translateX(10%) scale(.8)
        opacity 0
        transition .1s

      &:after
        content ''
        position absolute
        width 0
        height 0
        top 20%
        right -11px
        border-style solid
        border-width 12px 0 12px 12px
        border-color transparent transparent transparent #ED7256

      > h4
        margin 0 0 1em

      > p
        line-height 160%

    > p
      position absolute
      transform translate3d(-50%, -50%, 0)
      top 107%
      left 62.5%
      color white
      font-size 60%
      letter-spacing .5px
      font-weight bold

      > span
        display block
        text-align center

        &#terms
          margin-top 6px
          font-weight bold
          text-decoration underline
          cursor pointer
          transition .1s

          &:hover
            transform scale(1.2)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

      &#copyright_top
        top -7%

        > span#terms
          margin-bottom 5px

    > #credit_card
      position relative
      width 100%
      height auto

      #derigo
        background url('./img/pictures/derigo_blue.png') center/contain no-repeat
        animation pulse 1s linear 1.4s infinite

        &:hover
          transform translate3d(-50%, -50%, 0) scale(1.1)
          transition .1s

      @keyframes pulse {
        0% {
          transform translate3d(-50%, -50%, 0) scale(1)
        }
        50% {
          transform translate3d(-50%, -50%, 0) scale(1.1)
        }
        100% {
          transform translate3d(-50%, -50%, 0) scale(1)
        }
      }

      &.hidden > #layout
        transform scale(.7)
        opacity 0
        transition .4s

      > #layout
        position relative
        width 100%
        height auto
        transform scale(1)
        padding 5% 7% 10%
        box-sizing border-box
        opacity 1
        transition .4s
        transition-delay .4s

        > h3
          text-align center
          letter-spacing 1px
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

        .label
          margin 1em 0
          padding 0 1em
          box-sizing border-box
          opacity .6
          text-align left
          font-size 80%
          text-transform uppercase
          letter-spacing 1px
          font-weight bold

        #input
          width 100%
          margin 1em 0

        input
          display inline-block
          vertical-align middle
          margin 0 6px
          padding 12px 18px
          box-sizing border-box
          border-radius 18px
          text-align center
          font-size 90%
          font-weight bold
          letter-spacing 2px

        > #card_number
          position relative
          width 100%
          margin-top 1.5em
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > #input

            > input
              width calc(100% / 4 - 12px)

        > #exp_date
          position relative
          display inline-block
          vertical-align middle
          width 50%
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > #input

            > input
              width calc(100% / 2 - 12px)

        > #cvv
          position relative
          display inline-block
          vertical-align middle
          width 50%
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > .label
            text-align right

          > #input

            > input
              width calc(100% / 2 - 12px)
              margin-left calc(50% + 6px)

        > #name
          position relative
          display inline-block
          vertical-align middle
          width 75%
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > #input

            > input
              width calc(100% - 12px)
              text-align left

        > #zipcode
          position relative
          display inline-block
          vertical-align middle
          width 25%
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > .label
            text-align right

          > #input

            > input
              width calc(100% - 12px)

        > #payment_service
          position absolute
          bottom 0
          left 0
          width 30%
          padding 3% 8%
          box-sizing border-box
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > img
            width 100%

        > #next
          bottom -40px
          right -40px

          &.loading

            > #icon
              top 50%
              left 50%
              background none
              transition .2s
              animation loading 1s infinite

              &:before
                content ''
                position absolute
                width 10px
                height 10px
                background white
                bottom 0
                right 0
                border-radius 50%

              &:after
                content ''
                position absolute
                width 10px
                height 10px
                background white
                top 0
                left 0
                border-radius 50%

              @keyframes loading {
                0% {
                  transform translate3d(-50%, -50%, 0) rotate(0)
                }
                100% {
                  transform translate3d(-50%, -50%, 0) rotate(360deg)
                }
              }

            > p
              opacity 0
              transition .2s

        > #layer
          position absolute
          display none
          width 100%
          height 80%
          top 0
          left 0

          &.visible
            display block

        > #payment_notification
          position absolute
          width 100%
          transform translate3d(-50%, -50%, 0) scale(1)
          bottom 45%
          left 50%
          opacity 1
          text-align center
          font-size 120%
          font-weight bold
          letter-spacing 1px
          transition .2s

          &.hidden
            transform translate3d(-50%, -50%, 0) scale(.6)
            opacity 0
            transition .2s

          &.error
            width 40%
            color #BB6351
            bottom .8em
            font-weight normal
            font-size 80%
            letter-spacing .5px



    > #question, & > #review
      position absolute
      width 100%
      height 100%

      &.hidden

        > #layout
          transform translateY(-50%) scale(.7)
          opacity 0
          transition .2s

      > #layout
        position absolute
        height 100%
        transform translateY(-50%) scale(1)
        top 50%
        padding 5% 10%
        box-sizing border-box
        opacity 1
        text-align center
        transition .4s

        > #title
          margin-bottom 2em

          > h3
            font-size 160%

        > #input, & > #text
          margin 2em 0

        > #text
          max-height 260px
          overflow auto

          > p
            text-align left
            height auto
            white-space pre-line

        > #back
          top -40px
          left -40px

        > #next
          bottom -40px
          right -40px



    > #complete
      position absolute
      width 100%
      height 100%

      &.hidden

        > #layout
          transform translateY(-50%) scale(.7)
          opacity 0
          transition .2s

      > #layout
        position absolute
        height auto
        transform translateY(-50%) scale(1)
        top 45%
        padding 12%
        box-sizing border-box
        opacity 1
        text-align center
        transition .4s

        > #title
          margin-bottom 2em

          > h3
            font-size 160%
