#WarmCard
  width 85%
  transform translate3d(-70px, -50px, 0) rotate(-7deg)

  > #layout

    > img
      position absolute
      width 25%
      transform translate3d(0, -50%, 0)
      top -7%
      left 50%

    > #type_email
      position absolute
      width 100%
      height 100%

      &.hidden > #layout

        > #left

          > #title
            transform translateX(-32px)
            opacity 0
            transition .4s

          > #text
            transform scale(.7)
            opacity 0
            transition .4s

          > #input
            transform scale(.7)
            opacity 0
            transition .4s

        > #right
          transform translateX(-40px)
          opacity 0
          transition .4s

      > #layout

        > #left, & > #right
          position relative
          display inline-block
          vertical-align middle
          height auto

        > #left
          width 55%
          height 100%
          padding 8% 2.5% 8% 7.5%
          box-sizing border-box

          > #title
            text-align left
            font-size 100%
            transform translateX(0)
            opacity 1
            transition .4s

            > h3
              letter-spacing 1px

          > #text
            margin 2.5em 0
            text-align left
            transform scale(1)
            opacity 1
            transition .4s

            > p
              line-height 140%
              font-size 90%
              letter-spacing .5px

          > #input
            margin-top 3em
            text-align left
            transform scale(1)
            opacity 1
            transition .2s
            transition-delay 1.2s

        > #right
          width 45%
          vertical-align bottom
          transform translateX(0)
          opacity 1
          transition .6s
          transition-delay .4s

          > img
            position absolute
            height 320px
            bottom 0
            right -36%

        > #next
          bottom -40px
          left 44%



    > #check_verification_code
      position absolute
      width 100%
      height 100%

      &.hidden > #layout

        > #left

          > #title
            transform translateX(-32px)
            opacity 0
            transition .4s

          > #text
            transform scale(.7)
            opacity 0
            transition .4s

          > #input
            transform translateY(32px)
            opacity 0
            transition .4s

        > #right
          transform translateX(-40px)
          opacity 0
          transition .4s

      > #layout

        > #left, & > #right
          position relative
          display inline-block
          vertical-align middle
          height auto

        > #left
          width 55%
          height 100%
          padding 5% 2.5% 5% 7.5%
          box-sizing border-box

          > #title
            text-align left
            font-size 90%
            transform translateX(0)
            transition .4s

            > h3
              letter-spacing 1px

            > p
              margin-top 8px
              font-size 85%
              text-decoration underline
              cursor pointer

          > #text
            margin 2em 0
            text-align left
            transform scale(1)
            opacity 1
            transition .4s

            > p
              line-height 140%
              font-size 90%
              letter-spacing .5px

          > #input
            width 60%
            margin 0 auto
            transform translateY(0)
            opacity 1
            transition .2s
            transition-delay .8s

            > input
              display inline-block
              vertical-align middle
              width calc(100% / 3 - 12px)
              margin 0 6px
              padding 8px 6px
              border-radius 18px
              text-align center
              font-size 260%

            > #resendVerificationCode
              transform scale(1)
              margin 1.5em 0
              opacity 1
              text-align center
              font-size 80%
              text-decoration underline
              cursor pointer
              transition .3s

              &.inactive
                text-decoration none
                opacity .6
                cursor default

        > #right
          width 45%
          vertical-align bottom
          transform translateX(0)
          opacity 1
          transition .6s
          transition-delay .4s

          > img
            position absolute
            height 320px
            bottom 0
            right -36%

        > #next
          bottom -40px
          left 44%



    > #letter_only

      &.hidden

        img
          transform translateX(-20%)
          opacity 0
          transition .2s

      > img
        position absolute
        height 320px
        bottom 0
        right -16%
        transform translateX(0)
        opacity 1
        transition .4s
        transition-delay .6s
