#Dashboard
  width 100%
  height 100%
  overflow auto
  transform translateY(0)
  transition .4s

  *
    user-select auto
    cursor auto

  &.hidden
    transform translateY(120%)
    transition .4s

  > #layout
    padding 0 5%
    box-sizing border-box
    overflow auto

    > #sessions_list
      position relative
      display inline-block
      width 60%
      height auto
      transform translate3d(0, 0, 0) rotate(0)
      transition .4s

      &.hidden
        position fixed
        height 100%
        overflow hidden
        transform translate3d(-90%, 60px, 0) rotate(-4deg)
        transition .4s

      > #list
        position relative
        width 100%
        height auto
        padding 60px 5% 5%
        box-sizing border-box

        > .item
          position relative
          width 100%
          height auto
          min-height unset
          margin 1em 0

          &:first-of-type
            margin-top 0

          &:last-of-type
            margin-bottom 2em

          > #layout
            width 100%
            height auto
            min-height auto
            padding 5% 7.5%
            box-sizing border-box

            > #email, & > #info, & > #question

              > p#label
                width 100%
                margin-bottom .5em
                opacity .5
                font-weight bold
                text-transform uppercase
                user-select none
                cursor default

            > #email, & > #info
              display inline-block
              vertical-align top
              width 50%

              > p
                font-size 80%
                font-weight bold
                letter-spacing .5px

            > #info
              text-align right

              > #left, & > #center, & > #right
                display inline-block
                vertical-align top
                width auto

                > p#marker
                  text-align center
                  font-size 100%
                  font-weight bold
                  letter-spacing 1px
                  text-transform uppercase
                  user-select none

                  &.yes
                    color #82DC86

                  &.no
                    color rgba(255,255,255,.15)

                > p#label
                  opacity .6
                  font-size 70%
                  text-align center
                  text-transform uppercase
                  letter-spacing 1px
                  font-weight bold
                  user-select none

              > #center, & > #right
                margin-left 1.2em

            > #question
              position relative
              width 100%
              margin 3em 0 4em

              > p
                font-weight normal
                transition .4s
                white-space pre-line

                &.short
                  white-space nowrap
                  overflow hidden
                  text-overflow ellipsis
                  max-width 100%

              > #show_more
                position absolute
                margin-top 10px
                right 0
                font-size 85%
                text-decoration underline
                user-select none
                cursor pointer

            > #panel
              position relative
              width 100%
              padding 1em 0 0

              > #left, & > #center, & > #right
                position relative
                display inline-block
                vertical-align middle
                width calc(100% / 3)

              > #left
                text-align left

                > #remove
                  color rgba(255,255,255,.5)
                  font-size 85%
                  text-decoration underline
                  cursor pointer
                  user-select none

              > #center
                text-align center

                > button
                  cursor pointer

              > #right
                text-align right

                > button
                  cursor pointer

          &#empty

            h1
              margin 2em 0
              text-align center
              font-size 160%
              letter-spacing 1px
              user-select none



    > #sidebar
      position fixed
      top 60px
      right 8%
      width 30%
      height auto
      transform translate3d(0, 0, 0) rotate(0)
      transition .4s

      &.hidden
        transform translate3d(110%, 10%, 0) rotate(-4deg)
        transition .4s

      > #layout

        > #first
          margin-bottom 1.2em

          > #layout

            > #bg
              position absolute
              width 100%
              height 100%
              right 0
              border-radius 18px
              background url('./img/pictures/advice_bg.png') center/100% 100% no-repeat

            > #content
              position absolute
              transform translate3d(-50%, -50%, 0)
              top 50%
              left 50%

              > h1
                font-size 400%
                letter-spacing 2px
                font-weight bold
                text-align center
                user-select none

              > h3
                opacity .6
                font-weight bold
                text-transform uppercase
                text-align center
                user-select none

        > #second
          margin-bottom 1.2em

          > #layout

            > #bg
              position absolute
              width 100%
              height 100%
              right 0
              border-radius 18px
              background url('./img/pictures/arounds_bg.png') right center/contain no-repeat

            > #content
              position absolute
              transform translate3d(-50%, -50%, 0)
              top 50%
              left 50%

              > h1
                font-size 400%
                letter-spacing 2px
                font-weight bold
                text-align center
                user-select none

              > h3
                opacity .6
                font-weight bold
                text-transform uppercase
                text-align center
                user-select none

        > #third

          > #layout

            > #content
              position absolute
              transform translate3d(-50%, -50%, 0)
              top 50%
              left 50%
              text-align center

              > button
                margin-top 2em
                padding-left 28px
                padding-right 28px
                cursor pointer

              > p
                margin-top 2em
                opacity .6
                font-size 80%
                text-decoration underline
                text-transform uppercase
                font-weight bold
                letter-spacing 1px
                user-select none
                cursor pointer

        > #first, & > #second, & > #third
          position relative
          width 100%

          > #layout
            min-height 200px



    @import './components/testimonials/kit.styl'
    @import './components/answer/kit.styl'
