#layout
  position relative
  width 100%
  height 100%



// Cards

.cards_layout
  position absolute
  width 55%
  min-height 400px
  transform translate3d(-50%, -50%, 0)
  opacity 1
  top 50%
  left 50%
  transition .6s

  &.hidden
    transform translate3d(-50%, -50%, 0) scale(1.2)
    opacity 0
    transition .4s

  #shape
    position absolute
    width 100%
    height 100%

    @media screen and (max-width: 1400px)
      transform scale(.85)


.mobile_cards_layout
  position absolute
  width 100%
  height 100%
  min-height 1500px
  padding 2.5% 3%
  box-sizing border-box
  transform scale(1)
  opacity 1
  font-size 180%
  transition .6s

  &.hidden
    transform scale(.7)
    opacity 0
    transition .4s

  > #header
    text-align center

    > img
      height 50px

  > #footer
    position absolute
    width 94%
    bottom 1.5vh
    text-align center
    font-size 70%

  .small_button
    padding 21px 56px
    border-radius 44px

  .big_button
    width 180px
    height 180px
    transform translate3d(-50%, 50%, 0) scale(1)

    > #icon
      width 48px
      height 48px

    > p
      font-size 60%

    &.hidden
      transform translate3d(-50%, 50%, 0) scale(.8)

    &:hover, &:active
      transform translate3d(-50%, 50%, 0) scale(1)

  input, textarea
    width 100%
    padding 21px 48px
    border-radius 48px
    font-size 100%

.blue_card, .warm_card, .cold_card
  position absolute
  width 100%
  left 0
  top 0

  > #layout
    position relative
    min-height 360px
    border-radius 18px
    box-shadow 0 4px 16px rgba(0, 0, 0, .33)
    overflow visible

.blue_card > #layout
  background #424d6c

.warm_card > #layout
  background #424d6c

.cold_card > #layout
  background #424d6c



// Buttons

.small_button
  padding 14px 36px
  border none
  border-radius 26px
  box-shadow 0 4px 12px rgba(0, 0, 0, .33)
  background #c95d4c
  color white
  font-size 100%
  letter-spacing 1px
  font-weight bold
  outline none
  transition .1s

  &:hover
    cursor pointer
    transform scale(1.05)
    transition .1s

  &:active
    transform scale(1)
    transition .1s

.small_button.cold
  background #c95d4c

.big_button
  position absolute
  width 100px
  height 100px
  border-radius 50%
  box-shadow 0 4px 12px rgba(0, 0, 0, .33)
  background #c95d4c
  text-align center
  cursor pointer !important
  transition .2s

  &.hidden
    transform scale(.8)
    opacity 0
    cursor default
    transition .2s

    > p
      cursor default

  > #icon
    position absolute
    width 36px
    height 36px
    transform translate3d(-50%, -50%, 0)
    top 42%
    cursor pointer !important

  > p
    position absolute
    transform translate3d(-50%, -50%, 0)
    top 70%
    left 50%
    color white
    font-size 70%
    letter-spacing 1px
    font-weight bold
    user-select none !important
    cursor pointer !important

  &:hover
    transform scale(1.05)
    transition .1s

  &:active
    transform scale(1)
    transition .1s

  &#next

    > #icon
      left 53%
      background url('./img/icons/arrow.png') center/contain no-repeat

  &#back

    > #icon
      left 50%
      transform translate3d(-50%, -50%, 0) rotate(180deg)
      background url('./img/icons/arrow.png') center/contain no-repeat

  &#add

    > #icon
      left 50%
      transform translate3d(-50%, -50%, 0) rotate(180deg)
      background url('./img/icons/cross.png') center/contain no-repeat

  &#close

    > #icon
      left 47%
      transform translate3d(-50%, -50%, 0) rotate(45deg)
      background url('./img/icons/cross.png') center/contain no-repeat

.big_button.warm
  background #c95d4c



// Inputs

input, textarea
  width 100%
  padding 12px 24px
  box-sizing border-box
  border none
  border-radius 26px
  box-shadow 0 4px 12px rgba(0, 0, 0, .33)
  background white
  color #3d3d3d
  font-size 80%
  font-weight normal
  outline none

  &::placeholder
    position relative
    left 0
    opacity .6
    transition .2s

  &:focus

    &::placeholder
      left 12px
      opacity 0
      transition .2s

textarea
  padding 24px 32px
  resize none
  font-size 100%
  white-space pre-line



// Fonts

h1, h2, h3, h4, h5, h6, p, span, li
  margin 0
  font-family $futura
  color white
  cursor default
  user-select none

button
  user-select none

button, input, textarea
  font-family $futura

.opacity_6
  opacity .6

.warning
  color #ff745e



// Images

img
  user-select none
