#MobileColdCard
  width 94%
  height auto
  top 50%
  left 50%
  transform translate3d(100%, -50%, 0)

  > #layout
    height auto
    min-height 680px
    font-size 130%

    #derigo
      position absolute
      transform translate3d(-50%, -50%, 0) scale(1)
      width 180px
      height 180px
      top 6px
      right -13%
      background url('./img/pictures/derigo.png') center/contain no-repeat
      cursor help
      transition .1s

    #help
      position absolute
      transform translateX(0) scale(1)
      opacity 1
      width 100%
      top 17%
      right 0
      padding 3em 2em
      box-sizing border-box
      border-radius 24px
      text-align left
      background #ED7256
      box-shadow 0 0 1em rgba(0, 0, 0, .3)
      transition .1s

      &.hidden
        transform translateY(-10%) scale(.8)
        opacity 0
        transition .1s

      &:after
        content ''
        position absolute
        width 0
        height 0
        top -23px
        right 3%
        border-style solid
        border-width 0 24px 24px 24px
        border-color transparent transparent #ED7256 transparent

      > h4
        margin 0 0 1em

      > p
        line-height 160%

    > p
      position absolute
      transform translate3d(-50%, -50%, 0)
      top 107%
      left 62.5%
      color white
      font-size 60%
      letter-spacing .5px
      font-weight bold

      &#copyright_top
        top -7%

    > #credit_card
      position relative
      width 100%
      height auto

      #derigo
        background url('./img/pictures/derigo_blue.png') center/contain no-repeat
        animation pulse 1s linear 1.4s infinite

      @keyframes pulse {
        0% {
          transform translate3d(-50%, -50%, 0) scale(1)
        }
        50% {
          transform translate3d(-50%, -50%, 0) scale(1.1)
        }
        100% {
          transform translate3d(-50%, -50%, 0) scale(1)
        }
      }

      &.hidden > #layout
        transform scale(.7)
        opacity 0
        transition .4s

      > #layout
        position relative
        width 100%
        height 100%
        transform scale(1)
        padding 5% 7% 20%
        box-sizing border-box
        opacity 1
        transition .4s
        transition-delay .4s

        > h3
          text-align center
          letter-spacing 1px
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

        .label
          margin 1em 0 0
          padding 0
          box-sizing border-box
          opacity .6
          text-align left
          font-size 80%
          text-transform uppercase
          letter-spacing 1px
          font-weight bold

        #input
          width 100%
          margin .8em 0 1em

        input
          display inline-block
          vertical-align middle
          margin 0 6px
          padding 20px 26px
          box-sizing border-box
          border-radius 26px
          text-align center
          font-size 90%
          font-weight bold
          letter-spacing 2px

        > #card_number
          position relative
          width 100%
          margin-top 1.5em
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > #input

            > input
              width calc(100% / 4 - 12px)

        > #exp_date
          position relative
          display inline-block
          vertical-align middle
          width 50%
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > #input

            > input
              width calc(100% / 2 - 12px)

        > #cvv
          position relative
          display inline-block
          vertical-align middle
          width 50%
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > .label
            text-align right

          > #input

            > input
              width calc(100% / 2 - 12px)
              margin-left calc(50% + 6px)

        > #name
          position relative
          display inline-block
          vertical-align middle
          width 75%
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > #input

            > input
              width calc(100% - 12px)
              text-align left

        > #zipcode
          position relative
          display inline-block
          vertical-align middle
          width 25%
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > .label
            text-align right
            font-size 60%
            line-height 200%

          > #input

            > input
              width calc(100% - 12px)

        > #payment_service
          position absolute
          bottom 5%
          left 0
          width 32%
          padding 3% 8%
          box-sizing border-box
          transition .2s

          &.hidden
            transform scale(.8)
            opacity 0
            transition .2s

          > img
            width 100%

        > #next
          bottom 0
          right -2%

          &.loading

            > #icon
              top 50%
              left 50%
              background none
              transition .2s
              animation loading 1s infinite

              &:before
                content ''
                position absolute
                width 18px
                height 18px
                background white
                bottom 0
                right 0
                border-radius 50%

              &:after
                content ''
                position absolute
                width 18px
                height 18px
                background white
                top 0
                left 0
                border-radius 50%

              @keyframes loading {
                0% {
                  transform translate3d(-50%, -50%, 0) rotate(0)
                }
                100% {
                  transform translate3d(-50%, -50%, 0) rotate(360deg)
                }
              }

            > p
              opacity 0
              transition .2s

        > #layer
          position absolute
          display none
          width 100%
          height 80%
          top 0
          left 0

          &.visible
            display block

        > #payment_notification
          position absolute
          width 100%
          transform translate3d(-50%, -50%, 0) scale(1)
          bottom 45%
          left 50%
          opacity 1
          text-align center
          font-size 120%
          font-weight bold
          letter-spacing 1px
          transition .2s

          &.hidden
            transform translate3d(-50%, -50%, 0) scale(.6)
            opacity 0
            transition .2s

          &.error
            width 42%
            color #f3765c
            bottom 0
            font-weight normal
            font-size 65%
            letter-spacing 0



    > #question, & > #review
      position relative
      width 100%
      height auto
      padding 7.5% 0

      &.hidden

        > #layout
          transform scale(.7)
          opacity 0
          transition .2s

      > #layout
        position relative
        height auto
        transform scale(1)
        padding 0 5%
        box-sizing border-box
        opacity 1
        text-align center
        transition .4s

        > #title
          margin-bottom 2em

          > h3
            font-size 120%

        > #input, & > #text
          margin 2em 0

        > #input

          > textarea
            height 800px

        > #text
          max-height 260px
          overflow auto

          > p
            text-align left
            height auto
            white-space pre-line

        > #back
          bottom -14%
          left 0

        > #next
          bottom -14%
          right 0


    > #review
      height 960px

      > #layout
        height 100%
        padding 0 8%

        > #text
          height 720px
          max-height 720px
          overflow auto

          > p
            height auto

        > #back
          bottom -7%
          left calc(8% + 90px)

        > #next
          bottom -7%
          right 0




    > #complete
      position absolute
      width 100%
      height 100%

      &.hidden

        > #layout
          transform translateY(-50%) scale(.7)
          opacity 0
          transition .2s

      > #layout
        position absolute
        height auto
        transform translateY(-50%) scale(1)
        top 45%
        padding 10% 5%
        box-sizing border-box
        opacity 1
        text-align center
        transition .4s

        > #title
          margin-bottom 2em

          > h3
            font-size 140%

        > #text

          > h3
            font-size 100%
