#Testimonials
  position absolute
  width 80%
  transform scale(1)
  top 0
  left 10%
  opacity 1
  transition .4s

  &.hidden
    transform scale(.7)
    opacity 0
    transition .1s

  > #layout
    overflow auto

    > #testimonials_list
      position relative
      display inline-block
      width 100%
      height auto
      padding 30px 15% 0
      box-sizing border-box

      > #newTestimonial
        position relative
        width 100%
        height auto
        padding 30px 5% 0
        box-sizing border-box

        > #layout
          padding 5% 7.5%
          box-sizing border-box

          p#label
            width 100%
            margin-bottom .5em
            opacity .5
            font-weight bold
            text-transform uppercase
            user-select none
            cursor default

          > #testimonial
            margin-top 2em

          > #panel
            padding 2em 0 0
            text-align center

            > button
              cursor pointer

      > #list
        position relative
        width 100%
        height auto
        padding 30px 5% 5%
        box-sizing border-box

        > .item
          position relative
          width 100%
          height auto
          min-height unset
          margin 1em 0

          &:first-of-type
            margin-top 0

          &:last-of-type
            margin-bottom 2em

          &:nth-child(3n + 1)

            > #layout
              background #424d6c

          &:nth-child(3n + 2)

            > #layout
              background #424d6c

          &:nth-child(3n + 3)

            > #layout
              background #424d6c

          > #layout
            width 100%
            height auto
            min-height auto
            padding 5% 7.5%
            box-sizing border-box

            > #author, & > #testimonial

              > p#label
                width 100%
                margin-bottom .5em
                opacity .5
                font-weight bold
                text-transform uppercase
                user-select none
                cursor default

            > #author
              display inline-block
              vertical-align top
              width 50%

              > p:not(#label)
                font-size 100%
                font-weight bold
                letter-spacing .5px

            > #testimonial
              position relative
              width 100%
              margin 3em 0 4em

              > p:not(#label)
                font-size 100%
                font-weight normal
                transition .4s
                white-space pre-line

            > #panel
              position relative
              width 100%
              padding 1em 0 0

              > #left, & > #center, & > #right
                position relative
                display inline-block
                vertical-align middle
                width calc(100% / 3)

              > #left
                text-align left

                > #remove
                  color rgba(255,255,255,.5)
                  font-size 85%
                  text-decoration underline
                  cursor pointer
                  user-select none

              > #center
                text-align center

                > button
                  cursor pointer

              > #right
                text-align right

                > button
                  cursor pointer

          &#empty

            h1
              margin 2em 0
              text-align center
              font-size 160%
              letter-spacing 1px
              user-select none



    > #back
      top 60px
      left 20px

    > #add
      top 60px
      right 20px
