#AdviceCard
  width 110%
  height 120%
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0) scale(1)
  opacity 1
  transition .6s

  &.hidden
    transform translate3d(-50%, -50%, 0) scale(1.4)
    opacity 0

  > #layout
    overflow hidden

    > #bg
      position absolute
      width 100%
      height 100%
      right 0
      border-radius 18px
      background url('./img/pictures/advice_bg.png') center/100% 100% no-repeat

    > #intro
      position absolute
      width 100%
      height auto
      transform translateY(-50%) scale(1)
      top 50%
      text-align center
      transition .3s

      &.hidden
        transform translateY(-50%) scale(1.4)
        opacity 0

      > #title
        padding 4% 5% 2%
        box-sizing border-box
        text-align center

        > h3
          font-size 120%
          letter-spacing 1px
          cursor auto
          user-select auto

        > #line
          width 5%
          height 1px
          margin 8px 47.5%
          background white

    > #content
      position absolute
      width 100%
      height 100%
      transform scale(1)
      overflow auto
      transition .4s

      &.hidden
        transform scale(.7)
        opacity 0

      > #title
        padding 4% 5% 2%
        box-sizing border-box
        text-align center

        > h3
          font-size 120%
          letter-spacing 1px
          cursor auto
          user-select auto

        > #line
          width 5%
          height 1px
          margin 8px 47.5%
          background white

        > p
          font-size 90%
          letter-spacing 1px
          font-weight bold
          cursor auto
          user-select auto

      > #text
        padding 1.2em 6% 6em
        box-sizing border-box

        > p
          letter-spacing 0
          cursor auto
          user-select auto
          white-space pre-line
